    /* body {
      overflow: hidden;
    } */


    #logo {
      height: 5vh
    }

    #navBar {
      padding-left: 20px;
      padding-right: 20px;
    }

    #navBar button {
      margin: 10px;
    }

    #submit-ticket {
      text-align: right;
    }

    #form-container {
      width: 50%;
      padding-top: 20px
    }

    .ticketForm {
      display: flex;
      flex: 1;
    }

    .ticket-list {
      display: flex;
    }

    .columns {
      flex: 1;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      border: solid 0.25px;
    }

    .ticketDetailList {
      list-style: none;
    }

    .ticketCard {
      border-radius: 10px;
      padding: 5px;
      margin: 20px 5px;
    }

    .ticketHead {
      display: flex;
      justify-content: space-between;
    }

    .delete {
      border: none;
      border-radius: 5px;
    }

    label {
      font-weight: 800;
      font-size: 17px
    }

    .signupForm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 50px 0px;
    }

    .signupLabel {
      font-family: sans-serif;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-size: .8em;
      color: #000;
    }

    .signupInput[type=text] {
      display: inline-block;
      border: none;
      text-align: left;
      box-shadow: 3px 2px rgba(169, 169, 169, 1);
      padding: 10px;
      width: 350px;
      margin: 10px 0;
      background: transparent;
      color: #000;
    }

    .signupInput[type=password] {
      display: inline-block;
      border: none;
      text-align: left;
      box-shadow: 3px 2px rgba(169, 169, 169, 1);
      padding: 10px;
      width: 350px;
      margin: 10px 0;
      background: transparent;
      color: #000;
    }

    .signupInput[type=text]:focus {
      background: none;
      border: none;
      color: #000;
    }

    .signupBtn {
      background: transparent;
      color: #000;
      font-family: sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 20px 0;
      padding: 10px 30px;
      border: 2px solid rgba(169, 169, 169, .5);
    }

    .signupBtn:hover {
      background: transparent;
      border: 2px solid rgba(169, 169, 169, 1);
      cursor: pointer;
    }